<div class="text-bg-light p-4">
    <h2>Acerca de mí</h2>
    <p>
        Comencé mi aprendizaje con programación web y estoy interesado en seguir desarrollándome en este ámbito. Finalicé los cursos #SeProgramar y #YoProgramo de Argentina Programa aprendiendo HTML, CSS, Bootstrap, TypeScript y Angular para Front End; MySQL y Java con framework SpringBoot para Back End.
    
        Actualmente me desempeño como profesor de matemática en escuelas secundarias (part time) y continúo mi formación cursando la Tecnicatura Universitaria en Desarrollo de Aplicaciones Informáticas, en la UNICEN.
        
        Me gusta trabajar en equipo y aportar mis conocimientos y habilidades para alcanzar nuevas metas tanto en mi ruta de aprendizaje como en el ámbito laboral.
    </p>
    
</div>

