<ul class="list-inline text-center text-bg-secondary p-3">
    <li class="list-inline-item p-2">
        <a  href="https://github.com/mateoymichis"
            target="_blank"
            class="link-light"
        >
            Git Hub
        </a>
    </li>
    <li class="list-inline-item p-2">
        <a  href="https://www.linkedin.com/in/emanuelmateofernandez/"
            target="_blank"
            class="link-light"
        >
            LinkedIn
        </a>
    </li>
    <li class="list-inline-item p-2">
        <a  href="mailto:mateo.rost@gmail.com"
            target="_blank"
            class="link-light"
        >
            Email
        </a>
    </li>
</ul>
